* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.data{
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: .4s;
} 
.data:hover{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 
    0 30px 6px rgba(0, 0, 0, 0.23);
    transform: translate(0px, -8px);
}

@media (max-width:1220px) {
    .google-map iframe{
        width: 900px;
    }
}

@media  (max-width:992px) {
    .google-map iframe{
        width: 700px;
    }
}
@media screen and (max-width:768px) {
    .google-map iframe{
        width: 500px;
    }
}

@media screen and (max-width:350px) {
    .google-map iframe{
        width: 300px;
    }
}
























